:root {
  --color-dark: #1d1b1b;
  --color-light: #fdf9f5;
  --color-primary: #ffeb1b;

  --border-radius: 4px;

  --spacing-project-card: 3rem;
}

html {
  height: 100%;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  font: 100 2rem/160% sans-serif;

  background: var(--color-light);
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  margin: 4rem 0;

  text-align: center;
  font-size: 4rem;
}

h2 {
  margin: 1.2rem 0;

  font-size: 2.8rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5rem;

  font-size: 2rem;
  font-weight: 200;

  color: var(--color-light);
  background: var(--color-dark);
}

.button {
  padding: 1rem 3.5rem;

  border-radius: var(--border-radius);
  background: var(--color-primary);
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  min-height: 100%;
}

.main-page {
  padding: 2rem 0 6rem;
}

.project-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-project-card);

  width: 100%;
  padding: 0 3rem;
}

.project-card {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;

  padding-bottom: var(--spacing-project-card);

  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius);
}

.project-card-cover {
  width: 100%;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-project-card) / 1.5);

  margin: var(--spacing-project-card);
}

.project-card-title {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.project-card-description {
  display: flex;
  flex-direction: column;
}
